<h1><%= t('edition.header.edit') %></h1>

<%= render 'form', edition: @edition, as: :edition %>

<%= link_to t('edition.link.show'), @edition %> |
<%= link_to t('edition.link.back'), editions_path %>
